In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\documents\ia_victor\semanatextmining\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\documents\ia_victor\semanatextmining\.venv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\documents\ia_victor\semanatextmining\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\documents\ia_victor\semanatextmining\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\documents\ia_victor\semanatextmining\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\documents\ia_victor\semanatextmining\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
import pandas as pd
url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
df = pd.read_csv(url)
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
# troca automatica do caracter especial de todos os nomes de  colunas usando --str.replace('.','_')
df.columns = [s.replace('.','_')for s in df.columns]
df

     sepal_length  sepal_width  petal_length  petal_width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [5]:
# traduzindo os nomes das colunas.
df.columns=['comprimento.sépala', 'largura.sépala', 'comprimento.pétala', 'largura.pétala', 'variedade']
df

,comprimento.sépala,largura.sépala,comprimento.pétala,largura.pétala,variedade
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica
146,6.3,2.5,5.0,1.9,Virginica
147,6.5,3.0,5.2,2.0,Virginica
148,6.2,3.4,5.4,2.3,Virginica
149,5.9,3.0,5.1,1.8,Virginica

In [16]:
# verificando os tipos de plantas descritas na coluna "variedade" -- unique() ultilizado para ignorar os nomes duplicados.
df_variedade_list = sorted(df['variedade'].unique())
df_variedade_list

['Setosa', 'Versicolor', 'Virginica']

In [7]:
# verificando quantas informações eu tenho de cada elemento da coluna "variedade"
df["variedade"].value_counts()

variedade
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

# observação: Estao bem diustribuidas

In [8]:
# com base na visualização do grafico e no seu objetivo ,foi escolhido que é necessario visualizar o df com base nos nomes da plantas (na coluna  variedade para encontrar padroes por plantas)
df_index_variedade = df.set_index(["variedade"])
df_index_variedade

,comprimento.sépala,largura.sépala,comprimento.pétala,largura.pétala
variedade,,,,
Setosa,5.1,3.5,1.4,0.2
Setosa,4.9,3.0,1.4,0.2
Setosa,4.7,3.2,1.3,0.2
Setosa,4.6,3.1,1.5,0.2
Setosa,5.0,3.6,1.4,0.2
...,...,...,...,...
Virginica,6.7,3.0,5.2,2.3
Virginica,6.3,2.5,5.0,1.9
Virginica,6.5,3.0,5.2,2.0
Virginica,6.2,3.4,5.4,2.3
Virginica,5.9,3.0,5.1,1.8

In [9]:
df_index_variedade.describe().round(2)

       comprimento.sépala  largura.sépala  comprimento.pétala  largura.pétala
count              150.00          150.00              150.00          150.00
mean                 5.84            3.06                3.76            1.20
std                  0.83            0.44                1.77            0.76
min                  4.30            2.00                1.00            0.10
25%                  5.10            2.80                1.60            0.30
50%                  5.80            3.00                4.35            1.30
75%                  6.40            3.30                5.10            1.80
max                  7.90            4.40                6.90            2.50

In [10]:
# guardando e separando por variaveis as especies das plantas na coluna.index("variedade")
df_info_setosa = df_index_variedade.loc['Setosa']
df_info_versicolor = df_index_variedade.loc['Versicolor']
df_info_virginica = df_index_variedade.loc['Virginica']

In [11]:
df_info_setosa.describe().round(2)

       comprimento.sépala  largura.sépala  comprimento.pétala  largura.pétala
count               50.00           50.00               50.00           50.00
mean                 5.01            3.43                1.46            0.25
std                  0.35            0.38                0.17            0.11
min                  4.30            2.30                1.00            0.10
25%                  4.80            3.20                1.40            0.20
50%                  5.00            3.40                1.50            0.20
75%                  5.20            3.68                1.58            0.30
max                  5.80            4.40                1.90            0.60

In [12]:
df_info_virginica.describe().round(2)

       comprimento.sépala  largura.sépala  comprimento.pétala  largura.pétala
count               50.00           50.00               50.00           50.00
mean                 6.59            2.97                5.55            2.03
std                  0.64            0.32                0.55            0.27
min                  4.90            2.20                4.50            1.40
25%                  6.22            2.80                5.10            1.80
50%                  6.50            3.00                5.55            2.00
75%                  6.90            3.18                5.88            2.30
max                  7.90            3.80                6.90            2.50

In [13]:
df_info_versicolor.describe().round(2)

       comprimento.sépala  largura.sépala  comprimento.pétala  largura.pétala
count               50.00           50.00               50.00           50.00
mean                 5.94            2.77                4.26            1.33
std                  0.52            0.31                0.47            0.20
min                  4.90            2.00                3.00            1.00
25%                  5.60            2.52                4.00            1.20
50%                  5.90            2.80                4.35            1.30
75%                  6.30            3.00                4.60            1.50
max                  7.00            3.40                5.10            1.80